body {
	background-color: lightblue;
	align-items: center;
	
}

div {
	display: flex;
	justify-content: space-around;
	
}

img {
	display: flex;
	width: 30%;
	margin-left: 30%;
	
	
}


ul {
	border: 1px solid black;
	justify-content: space-around;
	background-color: yellow;
}

ul li {
	height: 5px;
	width: 5px;
	margin-bottom: 15px


}




#timer {
	font-size: 20px;
	margin-left: 85%;
	height: 5px;
	width: 5px;
	background-color: lightblue;
	border: 2px solid black;
}